.wrapper {
  padding: 20px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tasks{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-column-gap: 0px;
 
}

.tasksLeft {
  grid-column: 1;
}

.tasksRight {
  grid-column: 2;
  position: relative;
  right: 100px;
  min-width: 250px;
}

.datePickerStart {
  min-width: 400px;
}

.datePickerEnd {
  min-width: 400px;
}

.serviceDropdown {
  max-width: 400px;
}

.uploadBox {
  right: 65px;
  position: relative;
}

.adminPageTitle {
  position: absolute;
  
}


.units{
  position: absolute;
  top: 35px;
}

.radioButtons{
  position: absolute;
  top: 100px;
}
